{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block html_attribs %} lang="en"{% endblock %} {% block title %}Flask App{% endblock %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link rel="stylesheet" href="style.css"> {% block content %}{% endblock %}
<style>
    body {
        background-color: rgba(0, 0, 255, 0.3);
    }
</style>
<div class="header">
    <h1>Evidencija Studenata</h1>
    <li>
        <h1>
            <p><a href="{{ url_for('registracija') }}">Registracija</a></p>
        </h1>
    </li>

</div>

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Student</h3>
            <form class="form-group" method="POST" action="/login">
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.name) }}

                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.lastname) }}

                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.password) }}
                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.email) }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Profesor</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Sifra *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{super()}} {% endblock %}