{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %} Profil_Profesora {% endblock %} {% block content %} {% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}"> {% endblock %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EVIDENCIJA STUDENATA</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#"></a>
            </li>
            <li><a href="{{ url_for('registracija') }}">Registracija Studenta</a></li>
            <li><a href="{{ url_for('prof_reg') }}">Registracija Profesora</a></li>
            <li><a href="{{ url_for('prof_log') }}">Login Profesora</a></li>
        </ul>
    </div>
</nav>

<body background="static/images/info.jpg"></body>


<div class="container ">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 login-form-1  col-sm-offset-2 col-md-offset-4">
            <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4"></div>-->
            <h3>Student</h3>
            <form class="form-group" method="POST" action="/login">
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.name) }}

                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.lastname) }}

                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.password) }}
                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.email) }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </form>
        </div>
        {% endblock %} {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        {% endblock %}