{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %} Profil_Profesora {% endblock %} {% block styles %} {{super()}} {% endblock %} {% block content %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <h4>Evidencija Studenata</h4>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <h2> <a href="{{ url_for('registracija') }}">Registracija</a></h2>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Student</h3>
            <form class="form-group" method="POST" action="/login">
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.name) }}

                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.lastname) }}

                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.password) }}
                </div>
                <div class="form-group">

                    {{ form.hidden_tag() }} {{ wtf.form_field(form.email) }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </form>
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Profesor</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Sifra *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% endblock %}