{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %} Dashboard {% endblock %} {% block styles %} {{super()}} {% endblock %} {% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>



        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Log Out</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>

        </div>


    </div>
</nav>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background:burlywood">
    <pre><h1 class="page-header">Hello Profesore</h1></pre>

    <body>

        <div class="container">
            <h2></h2>
            <p></p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Kolegij=Dinamicke Web Aplikacije</th>
                        <th>Ime/Prezime</th>
                        <th>Prisutnost</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    {%for prisutnost in prisutnost%}
                    <tr>
                        <td> </td>
                        <td> {{prisutnost.prezime_studenta}} <br></td>
                        <td>{{prisutnost.prisutnost}} </td>
                        <td>{{prisutnost.datum}} </td>
                        <td></td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
            <button type="button" class="btn btn-success hidden-print" onclick="myFunction()">Printaj</button>
            <script>
                function myFunction() {
                    window.print();
                }
            </script>

        </div>
        <br>
        <br>
        <br>
        <form method="POST" , action="/profesor_profile">
            {{ form.hidden_tag() }} {{ wtf.form_field(form.naziv_kolegija) }}
            <button type="submit" class="btn btn-primary">Dodaj</button>

        </form>


        {% endblock %}